* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: 1s;
}
.div {
  width: 1920px;
  height: 7360.41px;
  border: 5px solid black;
}
.div13 {
  width: 1920px;
  height: 960px;
  background-image: url(/assets/img/image.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.nav {
  width: 1920px;
  height: 104px;
  /* border: 1px solid  red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.div23 {
  width: 210px;
  height: 104px;
  color: white;
  /* border: 1px solid blue; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 21px;
  font-weight: 900;
}
/* .div2 i {
    
} */
.btn {
  width: 142.86px;
  height: 47.75px;
  margin-right: 27px;
  /* font-weight: 900; */
  border-radius: 16px;
  background: transparent;
  border: 1px solid white;
  color: white;
}
.div33 {
  width: 580px;
  height: 50px;
  /* border: 1px solid blue; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 714.52px;
  margin-top: -75px;
}
.div33 a {
  border: none;
  color: white;
  text-decoration: none;
}
.div33 i {
  font-size: 13px;
}
.div33 p {
  color: white;
}
.btn1 {
  background: transparent;
  color: white;
  border: none;
  /* border: 1px solid black; */
}
.btn2 {
  /* width: 100px;
  height: 25px; */
  font-weight: 600;
  color: white;
  /* background-color: rgb(14, 14, 217); */
  border-radius: 8px;
  /* border: none; */
  border: none;
  /* text-decoration: none; */
  /* background-color: blue; */
  background-color: transparent;
}
.btn2 {
  font-size: 30px;
}
/* =================================== */
/* ===================================== */
.div4 {
  width: 500px;
  height: 246px;
  color: white;
  /* border: 2px solid red; */
  margin-top: 416.13px;
  margin-left: 245px;
}
.div4 p {
  font-weight: 700;
  font-size: 40px;
}
.div4 h2 {
  font-weight: 500;
  font-size: 70px;
}

/* .div4 h2 {
  margin-top: 3.5px;
  font-weight: 600;
  font-size: 70px;
} */
.div5 {
  width: 275.1600036621094px;
  height: 724.75px;
  border-radius: 16px;
  background-color: #ffffff1a;
  /* border: 1px solid black; */
  margin-top: -550px;
  margin-left: 1584.84px;
  color: white;
}
.p2 i {
  width: 30px;
  height: 30px;
  margin-left: 55px;
  margin-top: 55px;
  font-size: 25px;
}
.p3 {
  margin-top: 10px;
  margin-left: 55px;
  font-size: 15px;
}
.p4 {
  margin-left: 55px;
}
.p4 i {
  font-size: 25px;
  margin-top: 10px;
}
.p5 {
  font-weight: 500;
  font-size: 20px;
  margin-left: 55px;
  margin-top: 10px;
}
.p6 {
  margin-left: 55px;
  font-weight: 400;
  font-size: 15px;
}
.p7 {
  font-weight: 700;
  font-size: 26px;
  margin-left: 55px;
  margin-top: 10px;
}
.p8 {
  margin-left: 55px;
  font-weight: 400;
  font-size: 15px;
  margin-top: 10px;
}
.p9 {
  margin-left: 55px;
  font-weight: 500;
  font-size: 20px;
  margin-top: 3px;
}
.pp {
  margin-top: 10px;
  margin-right: 55px;
  font-size: 25px;
  font-weight: 400;
  margin-left: 55px;
}
.pp1 {
  margin-left: 55px;
  font-weight: 500;
  font-size: 20px;
  margin-top: 3px;
}
.pp2 {
  margin-left: 55px;
  font-weight: 600;
  font-size: 20px;
  margin-top: 3px;
}
.bur {
  width: 165.16px;
  height: 116.65px;
  border-radius: 16px;
  margin-left: 55px;
  margin-top: 50px;
  background-color: #ffffff;
  color: black;
}
.burr {
  width: 164px;
  height: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* border: 1px solid black; */
}

.modal {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  inset: 0;
  display: none;
  justify-content: center;
  align-items: center;
}

.modal.active {
  display: flex;
}

.modal-container {
  width: 500px;
  height: 500px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  color: rgb(0, 0, 0);
}

.modal .modal-container {
  width: 500px;
  height: 600px;
  background-color: rgb(137, 134, 134);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 17px;
}

.modal .modal-container .h3 {
  width: 460px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal .modal-container .h3 h3 {
  font-size: 45px;
}

.modal .modal-container .h3 .sign-close {
  width: 45px;
  height: 45px;
  font-size: 30px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.modal .modal-container .label {
  width: 460px;
  height: 85px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.modal .modal-container .label label {
  font-size: 25px;
}
.modal .modal-container .label input {
  width: 460px;
  height: 50px;
  font-size: 15px;
  padding: 0 10px;
}

.modal .modal-container .sumbit {
  width: 460px;
  height: 40px;
  font-size: 20px;
  border: none;
  background-color: green;
  color: rgb(248, 247, 247);
  border-radius: 5px;
  cursor: pointer;
}

/* ============================= */
.ret {
  width: 1420px;
  height: 50px;
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-between;
  margin-top: 110px;
  margin-left: 260px;
}
.ret1 {
  width: 1400px;
  height: 40px;
  border-bottom: 2px solid gray;
  display: flex;
  margin-left: 260px;
  gap: 17px;
  font-weight: 700;
}
.ret2 {
  width: 1650px;
  height: 274px;
  /* border: 1px solid black; */
  margin-top: 40px;
  display: flex;
  gap: 20px;
}
.carusel {
  width: 1660px;
  /* border: 1px solid red; */
  margin-left: 260px;
  overflow: hidden;
}
.ret3 {
  width: 685px;
  height: 273.72px;
  /* border: 1px solid black; */
  display: flex;
}
.ret3 img {
  width: 318.52px;
  height: 273.72px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
.ret3i {
  width: 685px;
  height: 273px;
  /* border: 1px solid black; */
  background-color: #373948;
  color: white;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
.h2 {
  width: 133.37px;
  height: 21.6px;
  margin-top: 15px;
  font-weight: 500;
  font-size: 18px;
  margin-left: 30px;
}
.ret3i p {
  margin-left: 30px;
  margin-top: 5px;
}
.ret3i b {
  margin-left: 30px;
}
.rqm {
  font-weight: 900;
  font-size: 20px;
  margin-left: 30px;
}
.buton {
  width: 140px;
  height: 40px;
  /* border: 1px solid black; */
  margin-left: 260px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
.k1 {
  width: 60px;
  height: 40px;
  border-radius: 30px;
}
.k2 {
  width: 60px;
  height: 40px;
  border-radius: 30px;
}
.k1 .k2 i {
  font-weight: 900;
  font-size: 20px;
}
/* =========================== */
.ret4 {
  width: 1800px;
  height: 490px;
  /* border: 1px solid black; */
  margin-left: 60px;
  margin-top: 100px;
  background-color: #f9fbfc;
}
.ret4 h2 {
  margin-top: 115px;
  margin-left: 200px;
  font-weight: 700;
  font-size: 40px;
}
.ret5 {
  width: 1320px;
  height: 220px;
  /* border: 1px solid black; */
  margin-left: 200px;
  margin-top: -30px;
  display: flex;
  justify-content: space-between;
}
.ret6 {
  width: 312px;
  height: 158px;
  /* border: 1px solid black; */
}
.ret6 img {
  width: 65px;
  height: 65px;
  /* border: 1px solid black; */
}
.ret6 b {
  font-weight: 900;
  font-size: 20px;
}
.ret6 p {
  font-weight: 400;
  font-size: 15px;
}
/* =============================== */
.Brow {
  width: 1400.01px;
  height: 50px;
  /* border: 1px solid black; */
  margin-left: 260px;
  margin-top: -55px;
  display: flex;
  justify-content: space-between;
}
.Brow h2 {
  font-weight: 700;
  font-size: 40px;
}
.brow {
  width: 1400.01px;
  height: 729px;
  /* border: 1px solid black; */
  margin-left: 260px;
  margin-top: 5px;
}
.broww {
  width: 1400.01px;
  height: 350px;
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-between;
}
.broww img {
  width: 685px;
  height: 350px;
  border-radius: 10px;
}
.brow1 {
  width: 1400.01px;
  height: 380px;
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-between;
}
.brow1 img {
  width: 446.67px;
  height: 348.95px;
  margin-top: 20px;
  border-radius: 10px;
}
/* ====================================== */
.shop {
  width: 1400.01px;
  height: 55px;
  /* border: 1px solid black; */
  margin-left: 260px;
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
}
.shop h2 {
  font-weight: 700;
  font-size: 40px;
}
.new {
  width: 1400px;
  height: 30px;
  margin-left: 260px;
  margin-top: 10px;
  border-bottom: 1px solid rgb(185, 182, 182);
}
.b1 {
  width: 600px;
  height: 30px;
  /* margin-top: 15px; */
  /* border: 1px solid black; */
  /* background-color: chartreuse; */
  display: flex;
  justify-content: space-between;
}
.ford {
  width: 1400px;
  height: 216px;
  /* border: 1px solid black; */
  margin-left: 260px;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}
.divv {
  width: 262.41px;
  height: 216.5px;
  /* border: 1px solid black; */
}
.divv p {
  font-size: 15px;
  font-weight: 600;
}
.wep {
  width: 1920px;
  height: 80px;
  /* border: 1px solid black; */
  align-items: center;
  display: flex;
  margin-top: 70px;
}
.o {
  margin-left: 260px;
  font-weight: 700;
  font-size: 40px;
}
.o1 {
  margin-left: 775px;
}
/* ======================= */
.bmw {
  width: 1430px;
  height: 180.59px;
  /* border: 1px solid black; */
  margin-left: 260px;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.audo {
  width: 209px;
  height: 180.59px;
  border-radius: 16px;
  background-color: #ffffff;
  border: 1px solid rgb(167, 166, 166);
}
.aud {
  width: 100px;
  height: 100px;
  /* border: 1px solid black; */
  margin-left: 50px;
  margin-top: 20px;
}
.audo b {
  margin-left: 84px;
  font-weight: 500;
  font-size: 18px;
}
.Bmw {
  width: 209px;
  height: 180.59px;
  border-radius: 16px;
  background-color: #ffffff;
  border: 1px solid rgb(167, 166, 166);
}
.Bmw img {
  width: 100px;
  height: 100px;
  /* border: 1px solid black; */
  margin-left: 50px;
  margin-top: 20px;
}
.Bmw b {
  margin-left: 80px;
  font-weight: 500;
  font-size: 18px;
}
.Ford {
  width: 209px;
  height: 180.59px;
  border-radius: 16px;
  background-color: #ffffff;
  border: 1px solid rgb(167, 166, 166);
}
.Ford img {
  width: 100px;
  height: 100px;
  /* border: 1px solid black; */
  margin-left: 50px;
  margin-top: 18px;
}
.Ford b {
  margin-left: 80px;
  font-weight: 500;
  font-size: 18px;
}
.benz {
  width: 209px;
  height: 180.59px;
  border-radius: 16px;
  border: 1px solid rgb(167, 166, 166);
  background-color: #ffffff;
}
.benz img {
  width: 100px;
  height: 100px;
  /* border: 1px solid black; */
  margin-left: 50px;
  margin-top: 20px;
}
.benz b {
  margin-left: 50px;
  font-weight: 500;
  font-size: 18px;
}
.peu {
  width: 209px;
  height: 180.59px;
  border-radius: 16px;
  background-color: #ffffff;
  border: 1px solid rgb(167, 166, 166);
}
.peu img {
  width: 100px;
  height: 100px;
  /* border: 1px solid black; */
  margin-left: 50px;
  margin-top: 18px;
}
.peu b {
  margin-left: 72px;
  font-weight: 500;
  font-size: 18px;
}
.volk {
  width: 209px;
  height: 180.59px;
  border-radius: 16px;
  border: 1px solid rgb(167, 166, 166);
  background-color: #ffffff;
}
.volk img {
  width: 100px;
  height: 100px;
  /* border: 1px solid black; */
  margin-left: 50px;
  margin-top: 14px;
}
.volk b {
  margin-left: 55px;
  font-weight: 500;
  font-size: 18px;
}
/* ==================== */
.loan {
  width: 1800px;
  height: 670.75px;
  /* border: 1px solid black; */
  margin: auto;
  margin-top: 50px;
  display: flex;
  /* justify-content: space-between; */
}
.loan1 {
  width: 900px;
  height: 670.75px;
  border: 1px solid white;
  background-color: rgb(222, 222, 240);
  border-bottom-left-radius: 16px;
  border-top-left-radius: 16px;
}
.priq {
  width: 570px;
  height: 140px;
  /* border: 1px solid black; */
  margin: auto;
  margin-top: 50px;
  display: flex;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-left: 200px;
}
.priqq {
  width: 275.19px;
  height: 57.75px;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  gap: 5px;
  border-radius: 12px;
  background-color: #ffffff;
}
.priqq p {
  margin-left: 10px;
  margin-top: 5px;
}
.loan1 h2 {
  margin-top: 140px;
  margin-left: 200px;
  font-weight: 700;
  font-size: 40px;
}
.loan1 .py {
  margin-left: 200px;
}
.tr {
  color: #818181;
}
.but {
  width: 560px;
  height: 55.75px;
  margin-left: 200px;
  border-radius: 16px;
  color: #ffffff;
  background-color: #405ff2;
  margin-top: 10px;
}
.ttt img {
  height: 670.75px;
}
/* ==================================== */
.cust {
  width: 1750px;
  height: 50px;
  /* border: 1px solid black; */
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
}
.cust h2 {
  font-weight: 700;
  font-size: 40px;
}
/* ============================== */
.main12 {
  width: 1660px;
  height: 304px;
  margin: 10px 240px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 50px;
}

.main12 .main12-box {
  width: 1660px;
  height: 214px;
  display: flex;
  gap: 15px;
}

.main12 .main12-box .box3 {
  width: 328px;
  height: 214px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 10px;
  border-radius: 16px;
  background-color: #e3f6ff;
}

.main12 .main12-box .box3 p {
  font-size: 20px;
  font-weight: 600;
}

.main12 .main12-box .box3 small {
  font-size: 17px;
}

.main12 .main12-box .box3 .box-span {
  font-size: 20px;
  font-weight: 600;
}

.main12 .main12-box .box3 .div1 {
  width: 264px;
  height: 21px;
  display: flex;
  gap: 20px;
}

.main12 .main12-box .box3 .div2 {
  width: 119px;
  height: 20px;
}

.main12 .main12-box .box3 .div2 i {
  width: 19px;
  height: 20px;
  background-color: green;
  font-size: 15px;
  padding: 2px 1px 1px;
  color: white;
}

.main12 .main12-box .box3 .div3 {
  width: 80px;
  height: 21px;
  display: flex;
  justify-content: space-between;
  padding: 2px;
}

/* ^foter */
.main12 .main12-foter {
  width: 140px;
  height: 40px;
  display: flex;
  justify-content: space-between;
}

.main12 .main12-foter .btn-left {
  width: 60px;
  height: 40px;
  border: 1px solid gray;
  border-radius: 30px;
  font-size: 30px;
  background-color: transparent;
}

.main12 .main12-foter .btn-right {
  width: 60px;
  height: 40px;
  border: 1px solid gray;
  border-radius: 30px;
  background-color: transparent;
  font-size: 30px;
}
.div2 {
  /* border: 1px solid black; */
  display: flex;
  gap: 5px;
}

/* ============================ */
.team {
  width: 1430px;
  height: 80px;
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 260px;
  color: black;
  margin-top: 15px;
}
.team h2 {
  font-size: 40px;
  font-weight: 700;
}
.sound {
  width: 1430px;
  height: 441.09px;
  /* border: 1px solid black; */
  margin-left: 260px;
  display: flex;
  justify-content: space-between;
}
.hanry {
  width: 327.5px;
  height: 440px;
  /* border: 1px solid black; */
}
.hanry img {
  width: 327.5px;
  height: 398.17px;
  border-radius: 16px;
}
.hanry b {
  color: black;
  font-weight: 500;
  font-size: 20px;
}
.hanry p {
  /* color: black; */
  font-size: 14px;
  font-weight: 400;
}
/* ============================== */
.shopp {
  width: 1800px;
  height: 527.5px;
  /* border: 1px solid black; */
  margin: auto;
  margin-top: 50px;
  display: flex;
}
.used {
  width: 900px;
  height: 527.5px;
  /* border: 1px solid black; */
  background-color: #405ff2;
  border-top-left-radius: 14px;
  border-bottom-left-radius: 14px;

  color: #e3f6ff;
}
.used h2 {
  font-weight: 700;
  font-size: 40px;
  margin-left: 180px;
  margin-top: 150px;
}
.used p {
  margin-left: 180px;
  margin-top: 15px;
}
.apple {
  width: 500px;
  height: 70px;
  /* border: 1px solid black; */
  margin-left: 180px;
  margin-top: 50px;
  display: flex;
  gap: 30px;
}
.apple1 {
  width: 206.84px;
  height: 70px;
  border: 1px solid black;
  border-radius: 16px;
  background-color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.apple1 i {
  /* width: 19.06px;
  height: 25px; */
  color: #405ff2;
  font-weight: 400;
  font-size: 25px;
  /* border: 1px solid black; */
  margin-top: -6px;
}
.ri-apple-fill {
  margin-top: 17px;
}
.cziq {
  width: 140px;
  height: 50px;
  border-left: 2px solid #405ff2;
  color: #405ff2;
}
.cziq b {
  color: #405ff2;
  font-weight: 900;
  font-size: 18px;
}
.cziq small {
  margin-left: 20px;
}
.cziq b {
  margin-left: 20px;
}
.tel {
  width: 900px;
  height: 527.5px;
  /* border: 1px solid black; */
}
.tel img {
  width: 900px;
  height: 527.5px;
}

/* ====================================== */
.sport {
  width: 1430px;
  height: 441.09px;
  /* border: 1px solid black; */
  margin-left: 260px;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
.sport1 {
  width: 447px;
  height: 441.09px;
  /* border: 1px solid black; */
}
.sport1 img {
  width: 447px;
  height: 298px;
  border-radius: 16px;
}
.November {
  margin-left: 72.55px;
  margin-top: -15px;
}
.sport1 p {
  font-size: 15px;
  font-weight: 400;
  margin-top: 5px;
}
.admin {
  /* border: 1px solid black; */
  display: flex;
  margin-top: 10px;
}
.sport1 h2 {
  font-size: 20px;
  font-weight: 900;
}

/* ============================== */
.join {
  width: 1920px;
  height: 357.25px;
  background-color: #050b20;
  margin-top: 100px;
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.carhut {
  width: 490px;
  height: 200px;
  /* border: 1px solid red; */
}
.carhut1 {
  width: 168px;
  height: 112px;
  /* border: 1px solid red; */
  color: white;
  text-align: center;
  display: flex;
  padding: 30px;
  margin-top: -50px;
}
.carhut1 i {
  margin-top: 50px;
}
.carhut1 p {
  margin-top: 50px;
}
.sint {
  margin-left: 30px;
  font-weight: 400;
  font-size: 15px;
}
.com {
  width: 450px;
  height: 46px;
  /* border: 1px solid red; */
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  margin-left: 30px;
}
.com1 {
  width: 211.31px;
  height: 46px;
  border: 1px solid white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 44px;
}
.com1 i {
  /* margin-left: 35px; */
  font-weight: 900;
  font-size: 18px;
}
.singup {
  width: 427.59px;
  height: 250px;
  /* border: 1px solid white; */
}
.singup h2 {
  font-size: 30px;
  font-weight: 600;
  margin-top: 10px;
}
.singup p {
  margin-top: 5px;
}
.com2 {
  width: 427.59px;
  height: 69.76px;
  border-radius: 12px;
  background-color: #ffffff1a;
  margin-top: 5px;
}
.com2 p {
  padding: 25px;
  color: #ffffff;
}
.com3 {
  width: 427.59px;
  height: 69.76px;
  border-radius: 12px;
  background-color: #405ff2;
  color: #ffffff;
  border: none;
}
.company {
  width: 1920px;
  height: 460px;
  background-color: #050b20;
  /* border: 1px solid white; */
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: -50px;
  border-top: 1px solid #a29f9f;
}
.comp {
  width: 224px;
  height: 325px;
  /* border: 1px solid white; */
  margin-left: 60px;
  /* text-align: center; */
}
.comp10 {
  width: 284.59px;
  height: 325px;
  /* border: 1px solid white; */
  margin-left: 60px;
  /* text-align: center; */
}
.comp p {
  font-weight: 400;
  font-size: 15px;
  color: #ffffff;
}
.comp b {
  font-weight: 900;
  font-size: 20px;
  /* margin-left: 22px; */
}
.ww {
  margin-left: 22px;
}
.comp1 {
  width: 206.84px;
  height: 70px;
  /* border: 1px solid white; */
  border-radius: 16px;
  /* background-color: white; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  background-color: #ffffff12;
  margin-left: 22px;
}
.ri-apple-fill {
  margin-top: 17px;
}
.cziqq {
  width: 140px;
  height: 50px;
  /* border-left: 2px solid #405FF2; */
  /* color: #405FF2; */
  color: white;
}
.cziqq b {
  /* color: #405FF2; */
  font-weight: 900;
  font-size: 18px;
  color: white;
  /* margin-left: 22px; */
}
.cziqq small {
  margin-left: 20px;
}
.cziqq b {
  margin-left: 20px;
}
.comp1 i {
  /* width: 19.06px;
  height: 25px; */
  /* color: #405FF2; */
  font-weight: 400;
  font-size: 25px;
  /* border: 1px solid black; */
  margin-top: -6px;
}
.brow {
  margin-top: 50px;
}
.comp2 {
  width: 210px;
  height: 40px;
  /* border: 1px solid white; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 6px;
}
.ret6 {
  margin-top: 90px;
}

.w {
  margin-left: 22px;
}
.comp2 i {
  font-weight: 900;
  color: #f1efef;
  font-size: 20px;
  /* margin-left: 22px; */
}
.termis {
  width: 1920px;
  height: 99.09px;
  background-color: #050b20;
  color: #a29f9f;
  border-top: 1px solid #a29f9f;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.termis button {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: #405ff2;
  color: white;
}
.termis button i {
  font-weight: 900;
  font-size: 20px;
}

/* ======================== */
body.darkmode {
  background-color: black;
  color: white;
}
body.darkmode .ret4 {
  color: black;
  border-radius: 20px;
}
body.darkmode .loan {
  color: black;
}
body.darkmode .main12 {
  color: black;
}
body.darkmode .main12-foter i {
  color: white;
}
body.darkmode .hanry b {
  color: white;
}
body.darkmode .ret4 {
  background-color: black;
  color: white;
}
.Brow {
  border: 1px solid black;
}



@media (max-width: 768px) {

    * {
        box-sizing: border-box;
    }

    html,
    body {
        width: 100%;
        max-width: 100%;
        overflow-x: hidden;
    }

    .div {
        width: 100%;
        height: auto;
        border: none;
        overflow: hidden;
    }

   

    .div13 {
        width: 100%;
        min-height: 850px;
        height: auto;
        background-position: center;
        background-size: cover;
        padding-bottom: 30px;
    }

    .nav {
        width: 100%;
        height: 80px;
        padding: 0 15px;
    }

    .div23 {
        width: auto;
        height: 80px;
        margin-left: 0;
        gap: 15px;
    }

    .div23 b {
        font-size: 20px;
    }

    .div23 p {
        display: none;
    }

    .btn {
        width: 125px;
        height: 42px;
        margin-right: 0;
        font-size: 13px;
    }

    .div33 {
        width: 100%;
        height: auto;
        margin: 0;
        padding: 10px 15px;
        justify-content: flex-end;
        gap: 18px;
    }

    .div33 a {
        display: none;
    }

    .div33 p {
        display: none;
    }

    .btn1 {
        font-size: 15px;
    }

    .btn2 {
        font-size: 25px;
    }


    .div4 {
        width: calc(100% - 40px);
        height: auto;
        margin: 250px 20px 0;
    }

    .div4 p {
        font-size: 28px;
    }

    .div4 h2 {
        font-size: 45px;
        line-height: 1.1;
    }

   

    .div5 {
        width: calc(100% - 40px);
        height: auto;
        min-height: 400px;
        margin: 50px 20px 0;
        padding-bottom: 20px;
    }
 .p2i.p3.p4.p5.p6.p7.p8.p9.pp.pp1.pp2 {
        margin-left: 25px;
    }

    .p2 i {
        margin-top: 30px;
    }

    .bur {
        margin-left: 25px;
        margin-top: 30px;
    }

    
    .modal {
        padding: 15px;
    }

    .modal .modal-container {
        width: 100%;
        max-width: 500px;
        height: auto;
        min-height: 500px;
        max-height: 90vh;
        padding: 20px;
        overflow-y: auto;
        gap: 15px;
    }

    .modal .modal-container .h3 {
        width: 100%;
        height: 60px;
    }

    .modal .modal-container .h3 h3 {
        font-size: 32px;
    }

    .modal .modal-container .h3 .sign-close {
        width: 40px;
        height: 40px;
        font-size: 25px;
    }

    .modal .modal-container .label {
        width: 100%;
        height: auto;
        gap: 7px;
    }

    .modal .modal-container .label label {
        font-size: 18px;
    }

    .modal .modal-container .label input {
        width: 100%;
        height: 45px;
        font-size: 15px;
    }

    .modal .modal-container .sumbit {
        width: 100%;
        height: 45px;
    }

   
    .ret {
        width: calc(100% - 30px);
        height: auto;
        margin: 50px 15px 0;
    }

    .ret1 {
        width: calc(100% - 30px);
        margin: 0 15px;
        overflow-x: auto;
    }

    .ret2 {
        width: max-content;
        height: auto;
        gap: 15px;
    }

    .carusel {
        width: calc(100% - 30px);
        margin-left: 15px;
        overflow: hidden;
    }

    .ret3 {
        width: 650px;
        max-width: 90vw;
        height: 220px;
    }

    .ret3 img {
        width: 42%;
        height: 220px;
    }

    .ret3i {
        width: 58%;
        height: 220px;
    }

    .h2 {
        margin-left: 15px;
        font-size: 16px;
    }

    .ret3i p,
    .ret3i b,
    .rqm {
        margin-left: 15px;
    }

    .buton {
        width: 130px;
        margin-left: 15px;
        margin-top: 15px;
    }

    

    .ret4 {
        width: calc(100% - 30px);
        height: auto;
        min-height: 550px;
        margin: 60px 15px 0;
        padding: 30px 20px;
    }

    .ret4 h2 {
        margin: 0 0 30px;
        font-size: 30px;
    }

    .ret5 {
        width: 100%;
        height: auto;
        margin: 0;
        display: grid;
        grid-template-columns: 1fr;
        gap: 30px;
    }

    .ret6 {
        width: 100%;
        height: auto;
    }

    

    .Brow {
        width: calc(100% - 30px);
        height: auto;
        margin: 60px 15px 0;
    }

    .Brow h2 {
        font-size: 30px;
    }

    .brow {
        width: calc(100% - 30px);
        height: auto;
        margin: 15px;
    }

    .broww {
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: 1fr;
        gap: 15px;
    }

    .broww img {
        width: 100%;
        height: auto;
        max-height: 250px;
    }

    .brow1 {
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: 1fr;
        margin-top: 15px;
        gap: 15px;
    }

    .brow1 img {
        width: 100%;
        height: 230px;
        margin-top: 0;

    }

   

    .shop {
        width: calc(100% - 30px);
        height: auto;
        margin: 50px 15px 0;
    }

    .shop h2 {
        font-size: 30px;
    }

    .new .b1 {
        
        display: none;
    }
    .new {
      width: calc(100% - 30px);
        margin: 10px 15px;
    }

    .b1 {
        width: 100%;
        overflow-x: auto;
    }

    .ford {
        width: calc(100% - 30px);
        height: auto;
        margin: 30px 15px 0;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
    }

    .divv {
        width: 100%;
        height: auto;
    }

    .wep {
        width: 100%;
        height: auto;
        margin-top: 50px;
        padding: 0 15px;
    }

    .o {
        margin-left: 0;
        font-size: 30px;
    }

    .o1 {
        margin-left: auto;
    }

    .bmw {
        width: calc(100% - 30px);
        height: auto;
        margin: 20px 15px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
    }
.audo.Bmw.Ford.benz.peu.volk {
        width: 100%;
        height: 160px;
    }

    .aud.Bmw img.Ford img.benz img.peu img.volk img {
        width: 80px;
        height: 80px;
        display: block;
        margin: 15px auto 10px;
    }

    .audo b.Bmw b.Ford b.benz b.peu b.volk b {
        display: block;
        margin: 0;
        text-align: center;
        font-size: 16px;
    }

    

    .loan {
        width: calc(100% - 30px);
        height: auto;
        margin: 50px 15px 0;
        display: flex;
        flex-direction: column;
    }

    .loan1 {
        width: 100%;
        height: auto;
        min-height: 550px;
        border-radius: 16px;
        padding: 30px 20px;
    }

    .loan1 h2 {
        margin: 30px 0 20px;
        font-size: 30px;
    }

    .loan1 .py {
        margin-left: 0;
    }

    .priq {
        width: 100%;
        height: auto;
        margin: 30px 0;
        grid-template-columns: 1fr;
        gap: 10px;
    }

    .priqq {
        width: 100%;
    }

    .but {
        width: 100%;
        margin-left: 0;
    }

    .ttt {
        display: none;
    }

    

    .cust {
        width: calc(100% - 30px);
        height: auto;
        margin: 50px 15px 0;
        justify-content: space-between;
    }

    .cust h2 {
        font-size: 30px;
    }

    
    .main12 {
        width: calc(100% - 30px);
        height: auto;
        margin: 30px 15px;
        overflow: hidden;
    }

    .main12 .main12-box {
        width: max-content;
        height: auto;
        gap: 15px;
    }

    .main12 .main12-box .box3 {
        width: 280px;
        height: 210px;
    }

    .main12 .main12-foter {
        margin-top: 20px;
    }


    .team {
        width: calc(100% - 30px);
        height: auto;
        margin: 40px 15px 20px;
    }

    .team h2 {
        font-size: 30px;
    }

    .sound {
        width: calc(100% - 30px);
        height: auto;
        margin: 0 15px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 15px;
    }

    .hanry {
        width: 100%;
        height: auto;
    }

    .hanry img {
        width: 100%;
        height: 250px;
        object-fit: cover;
    }

    .hanry b {
        font-size: 17px;
    }

    
    .shopp {
        width: calc(100% - 30px);
        height: auto;
        margin: 60px 15px 0;
        display: flex;
        flex-direction: column;
    }

    .used {
        width: 100%;
        height: auto;
        min-height: 450px;
        border-radius: 14px;
        padding: 30px 20px;
    }

    .used h2 {
        margin: 40px 0 0;
        font-size: 30px;
    }

    .used p {
        margin-left: 0;
    }

    .apple {
        width: 100%;
        height: auto;
        margin: 30px 0;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .apple1 {
        width: 100%;
    }

    .tel {
        display: none;
    }

    

    .sport {
        width: calc(100% - 30px);
        height: auto;
        margin: 50px 15px 0;
        display: grid;
        grid-template-columns: 1fr;
        gap: 30px;
    }

    .sport1 {
        width: 100%;
        height: auto;
    }

    .sport1 img {
        width: 100%;
        height: 230px;
        object-fit: cover;
    }

    .November {
        margin-left: 0;
        margin-top: 10px;
    }

    

    .join {
        width: 100%;
        height: auto;
        min-height: 550px;
        margin-top: 80px;
        padding: 50px 20px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 40px;
    }

    .carhut {
        width: 100%;
        height: auto;
    }

    .carhut1 {
        margin: 0;
        padding: 0;
    }

    .carhut1 i,
    .carhut1 p {
        margin-top: 20px;
    }

    .sint {
        margin-left: 0;
    }

    .com {
        width: 100%;
        height: auto;
        margin-left: 0;
        flex-direction: column;
        gap: 10px;
    }

    .com1 {
        width: 100%;
    }

    .singup {
        width: 100%;
        height: auto;
    }

    .com2,
    .com3 {
        width: 100%;
    }

    

    .company {
        width: 100%;
        height: auto;
        min-height: 900px;
        padding: 50px 20px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 40px 20px;
    }

    .comp,
    .comp10 {
        width: 100%;
        height: auto;
        margin-left: 0;
    }

    .comp1 {
        width: 100%;
        margin-left: 0;
    }

    .comp2 {
        width: 100%;
    }

    /* ================= TERMS ================= */

    .termis {
        width: 100%;
        height: auto;
        min-height: 100px;
        padding: 20px 15px;
        flex-wrap: wrap;
        gap: 15px;
        text-align: center;
    }

    .termis button {
        flex-shrink: 0;
    }
    .bmw {
      display: grid;
    }
}




/* @media (max-width: 480px) {

    .div4 {
        margin-top: 200px;
    }

    .div4 p {
        font-size: 23px;
    }

    .div4 h2 {
        font-size: 36px;
    }

    .div5 {
        margin-top: 35px;
    }

    .ret3 {
        max-width: 95vw;
        height: 190px;
    }

    .ret3 img {
        height: 190px;
    }

    .ret3i {
        height: 190px;
    }

    .ret3i p {
        font-size: 13px;
    }

    .rqm {
        font-size: 17px;
    }

    .bmw {
        grid-template-columns: 1fr 1fr;
    }

    .sound {
        grid-template-columns: 1fr;
    }

    .company {
        grid-template-columns: 1fr;
    }

    .ford {
        grid-template-columns: 1fr;
    }
} */