* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: 1s;
}
.div {
  width: 1920px;
  height: 7360.41px;
  border: 5px solid black;
}
.div13 {
  width: 1920px;
  height: 960px;
  background-image: url(/assets/img/image\ copy\ 30.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.nav {
  width: 1920px;
  height: 104px;
  /* border: 1px solid  red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.div23 {
  width: 210px;
  height: 104px;
  color: white;
  /* border: 1px solid blue; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 21px;
  font-weight: 900;
}
/* .div2 i {
    
} */
.btn {
  width: 142.86px;
  height: 47.75px;
  margin-right: 27px;
  /* font-weight: 900; */
  border-radius: 16px;
  background: transparent;
  border: 1px solid white;
  color: white;
}
.div33 {
  width: 580px;
  height: 50px;
  /* border: 1px solid blue; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 1114.52px;
  margin-top: -75px;
}
.div33 a {
  border: none;
  color: white;
  text-decoration: none;
}
.div33 i {
  font-size: 13px;
}
.div33 p {
  color: white;
}
.btn1 {
  background: transparent;
  color: white;
  border: none;
  /* border: 1px solid black; */
}
.btn2 {
  /* width: 100px;
  height: 25px; */
  font-weight: 600;
  color: white;
  /* background-color: rgb(14, 14, 217); */
  border-radius: 8px;
  /* border: none; */
  border: none;
  /* text-decoration: none; */
  /* background-color: blue; */
  background-color: transparent;
}
.btn2 {
  font-size: 30px;
}

.modal {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  inset: 0;
  display: none;
  justify-content: center;
  align-items: center;
}

.modal.active {
  display: flex;
}

.modal-container {
  width: 500px;
  height: 500px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  color: rgb(0, 0, 0);
}

.modal .modal-container {
  width: 500px;
  height: 600px;
  background-color: rgb(137, 134, 134);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 17px;
}

.modal .modal-container .h3 {
  width: 460px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal .modal-container .h3 h3 {
  font-size: 45px;
}

.modal .modal-container .h3 .sign-close {
  width: 45px;
  height: 45px;
  font-size: 30px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.modal .modal-container .label {
  width: 460px;
  height: 85px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.modal .modal-container .label label {
  font-size: 25px;
}
.modal .modal-container .label input {
  width: 460px;
  height: 50px;
  font-size: 15px;
  padding: 0 10px;
}

.modal .modal-container .sumbit {
  width: 460px;
  height: 40px;
  font-size: 20px;
  border: none;
  background-color: green;
  color: rgb(248, 247, 247);
  border-radius: 5px;
  cursor: pointer;
}
.qwe {
  width: 805px;
  height: 300px;
  /* border: 1px solid green; */
  color: white;
  margin-top: 330px;
  margin-left: 275px;
}
.ass {
  font-weight: 900;
  font-size: 70px;
}
.qwee {
  font-weight: 700;
  font-size: 40px;
}
.ddd {
  display: flex;
  gap: 20px;
}
.qwe button {
  width: 165.16px;
  height: 55.75px;
  border-radius: 16px;
  border: none;
}
.qwe1 button {
  width: 60px;
  height: 40px;
  border-radius: 30px;
}
.qwe1 button i {
  font-weight: 900;
  font-size: 30px;
}
.qwe1 {
  width: 1800px;
  height: 50px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin-top: -200px;
}
/* =================================================== */
.ret {
  width: 1420px;
  height: 50px;
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-between;
  margin-top: 110px;
  margin-left: 260px;
}
.ret h2 {
  font-weight: 700;
  font-size: 40px;
}
/* .qwe2 {
    width: ;
    height: ;
} */

.car-container {
  width: 1430px;
  height: 203.59px;
  display: flex;
  justify-content: space-between;
  /* border: 1px solid black; */
  margin-left: 260px;
  margin-top: 20px;
}

.car-card {
  width: 200px;
  height: 200px;
  border: 1px solid #e5e5e5;
  border-radius: 12px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  color: #071329;
}

.car-icon {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background: #f7f9fb;

  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 20px;
}

.car-icon i {
  font-size: 24px;
}

.car-card p {
  font-size: 16px;
  font-weight: 500;
}
.ret {
  width: 1420px;
  height: 50px;
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-between;
  margin-top: 110px;
}
.ret1 {
  width: 1415px;
  height: 40px;
  border-bottom: 2px solid gray;
  display: flex;
  margin-left: 260px;
  gap: 17px;
  font-weight: 700;
  margin-top: 10px;
}
/* =================================== */
.grat {
  width: 1415px;
  height: 900px;
  margin-left: 260px;
  margin-top: 20px;
  /* border: 1px solid black; */
  
}
.tayota {
  width: 327.5px;
  height: 432.81px;
  border: 1px solid rgb(193, 191, 191);
   box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
  border-radius: 16px;
}
.tayota img {
  width: 326px;
  height: 218.33px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;

}
.tayota h2 {
  font-weight: 900;
  font-size: 18px;
  margin-left: 31px;
  margin-top: 2px;
}
.tayota p {
  margin-top: 5px;
  font-size: 14px;
  font-weight: 400;
  margin-left: 31px;

}
.melis {
  width: 265.5px;
  height: 69.29px;
  border-bottom: 1px solid gray;
  border-top: 1px solid gray;

  margin-left: 31px;
  margin-top: 18px;
  display: flex;
  justify-content: space-between;
}
.fff {
  width: 90px;
  height: 69.29px;
  /* border: 1px solid black; */

}
.fff i {
  margin-left: 35px;
  margin-top: 8px;
}
.fff .m1 {
  margin-left: 30px;

}
.fff p {
  margin-left: 20px;

}
.vev {
  width: 265.5px;
  height: 30px;
  /* border: 1px solid black; */
  margin-left: 31px;
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}
.vev a {
  text-decoration: none;
  font-weight: 500;
  font-size: 15px;
}
.vev h2 {
  margin-left: 0;
}
.rtrt {
  width: 1415px;
  height: 432.81px;
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-between;
}
/* ================================ */
.online {
  width: 1430px;
  height: 579.53px;
  /* border: 1px solid black; */
  margin-left: 260px;
  margin-top: 150px;
  display: flex;
  justify-content: space-between;
}
.online1 {
  width: 622.39px;
  height: 300px;
  /* border: 1px solid black; */
  margin-top: 150px;

}
.online1 h2 {
  font-size: 40px;
  font-weight: 700;
}
.online1 p {
  font-size: 15px;
  font-weight: 400;
}
.online1 button {
  width: 158.94px;
  height: 53.22px;
  border-radius: 12px;
  color: aliceblue;
  background-color: #071329;
  border: none;
}
.imagee {
  width: 662.61px;
  height: 579.53px;
}
.imagee img {
  width: 662.61px;
  height: 579.53px;
  border-radius: 18px;
}

.ret4 {
  width: 1800px;
  height: 490px;
  /* border: 1px solid black; */
  margin-left: 60px;
  margin-top: 130px;
  background-color: white;
}
.ret4 h2 {
  margin-top: 145px;
  margin-left: 200px;
  font-weight: 700;
  font-size: 40px;
}

.ret5 {
  width: 1320px;
  height: 320px;
  /* border: 1px solid black; */
  margin-left: 200px;
  margin-top: -30px;
  display: flex;
  justify-content: space-between;
}
.ret6 {
  width: 312px;
  height: 158px;
  /* border: 1px solid black; */
}
.ret6 img {
  width: 65px;
  height: 65px;
  /* border: 1px solid black; */
  
}
.ret6 b {
  font-weight: 900;
  font-size: 20px;
}
.ret6 p {
  font-weight: 400;
  font-size: 15px;
}
.Brow {
  width: 1430px;
  height: 50px;
  /* border: 1px solid black; */
  margin-left: 260px;
  margin-top: -130px;
  display: flex;
  justify-content: space-between;
}
.Brow h2 {
  font-weight: 700;
  font-size: 40px;
}



/* ================================ */

.main12 {
  width: 1430px;
  height: 304px;
  margin: 10px 240px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 50px;
}

.main12 .main12-box {
  width: 1430px;
  height: 214px;
  display: flex;
  gap: 15px;
}

.main12 .main12-box .box3 {
  width: 328px;
  height: 214px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 10px;
  border-radius: 16px;
  background-color: #e3f6ff;
}

.main12 .main12-box .box3 p {
  font-size: 20px;
  font-weight: 600;
}

.main12 .main12-box .box3 small {
  font-size: 17px;
}

.main12 .main12-box .box3 .box-span {
  font-size: 20px;
  font-weight: 600;
}

.main12 .main12-box .box3 .div1 {
  width: 264px;
  height: 21px;
  display: flex;
  gap: 20px;
}

.main12 .main12-box .box3 .div2 {
  width: 119px;
  height: 20px;
}

.main12 .main12-box .box3 .div2 i {
  width: 19px;
  height: 20px;
  background-color: green;
  font-size: 15px;
  padding: 2px 1px 1px;
  color: white;
}

.main12 .main12-box .box3 .div3 {
  width: 80px;
  height: 21px;
  display: flex;
  justify-content: space-between;
  padding: 2px;
}

/* ^foter */
.main12-foter {
  width: 1633px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  margin-left: 140px;
  margin-top: -220px;
}

.btn-left {
  width: 60px;
  height: 40px;
  border: 1px solid gray;
  border-radius: 30px;
  font-size: 30px;
  background-color: transparent;
}

 .btn-right {
  width: 60px;
  height: 40px;
  border: 1px solid gray;
  border-radius: 30px;
  background-color: transparent;
  font-size: 30px;
}
.div2 {
  /* border: 1px solid black; */
  display: flex;
  gap: 5px;
}
/* ============================ */
.team {
  width: 1430px;
  height: 80px;
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 260px;
  color: black;
  margin-top: 190px;
}
.team h2 {
  font-size: 40px;
  font-weight: 700;
  
}
.sound {
  width: 1430px;
  height: 441.09px;
  /* border: 1px solid black; */
  margin-left: 260px;
  display: flex;
  justify-content: space-between;
}
.hanry {
  width: 327.5px;
  height: 440px;
  /* border: 1px solid black; */
}
.hanry img {
  width: 327.5px;
  height: 398.17px;
  border-radius: 16px;
}
.hanry b {
  color: black;
  font-weight: 500;
  font-size: 20px;
}
.hanry p {
  /* color: black; */
  font-size: 14px;
  font-weight: 400;
}
/* ====================================== */
.h2h2 {
  font-size: 40px;
  font-weight: 700;
  margin-top: 100px;
  margin-left: 260px;
}
.categ {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 17px 8px;
    margin-left: 260px;
    margin-top: 10px;
}

.categ button {
    height: 41px;
    padding: 0 18px;
    border: 1px solid #e5e5e5;
    border-radius: 11px;
    background-color: white;
    color: #111827;
    font-size: 12px;
    font-weight: 500;
    cursor: pointer;
  

}
.categ button:hover {
    border-color: #111827;
    background-color: #f8f8f8;
}
/* ================================ */
.shopp {
  width: 1800px;
  height: 527.5px;
  /* border: 1px solid black; */
  margin: auto;
  margin-top: 50px;
  display: flex;
}
.used {
  width: 900px;
  height: 527.5px;
  /* border: 1px solid black; */
  background-color: rgb(238, 240, 252);
  border-top-left-radius: 14px;
  border-bottom-left-radius: 14px;

  color: black;
}
.used h2 {
  font-weight: 700;
  font-size: 40px;
  margin-left: 180px;
  margin-top: 150px;
}
.button i {
  font-weight: 900;
  font-size: 20px;
}
.used p {
  margin-left: 180px;
  margin-top: 15px;
}
.apple {
  width: 500px;
  height: 70px;
  /* border: 1px solid black; */
  margin-left: 180px;
  margin-top: 50px;
  display: flex;
  gap: 30px;
  color: white;
}
.apple1 {
  width: 206.84px;
  height: 70px;
  border: 1px solid black;
  border-radius: 16px;
  background-color: black;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: white;
}
.apple1 i {
  /* width: 19.06px;
  height: 25px; */
  color: white;
  font-weight: 400;
  font-size: 25px;
  /* border: 1px solid black; */
  margin-top: -6px;
}
.ri-apple-fill {
  margin-top: 17px;
}
.cziq {
  width: 140px;
  height: 50px;
  border-left: 2px solid white;
  color: black;
}
.cziq b {
  color: white;
  font-weight: 900;
  font-size: 18px;
}
.cziq small {
  margin-left: 20px;
  color: white;
}
.cziq b {
  margin-left: 20px;
}
.tel {
  width: 900px;
  height: 527.5px;
  /* border: 1px solid black; */
}
.tel img {
  width: 900px;
  height: 527.5px;
}
/* ====================================== */



















